.carousel-item > img {
    height: 40vh;


}
.navbar-nav > a.nav-item {
    font-size: x-large;
}
.page-footer {
    /*position: absolute;*/
    bottom: 0;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    /*padding-top: 50px;*/
    /*line-height: 60px;*/
    /*background-color: #f5f5f5;*/
    margin: auto auto 0 auto;

}
.modal-footer {
    justify-content: center !important;
}
p.footer-text {


}
img.card-img {
    max-height: 40vh;
    width: auto;
}
.card-group {
    flex-direction: column;
}
div.accreditation {
    margin: auto;
}
html {
    position: relative;
    margin: 0;
    height:  100vh;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
.content {
    flex: 1 0 auto;
}
@media only screen and (max-width: 750px) {
    a.navbar-brand {
        max-width: 75%;
    }

}
@media only screen and (min-width: 750px) {
    a.navbar-brand {
        max-width: 50%;
    }

}
a.active {
    text-decoration: underline;
}
img.card-img {
    max-width: 100%;
}

@import url('https:fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.container {
    margin-top: 60px;
    text-align: center;
}

.container h1{

}
.member_img {
    max-width: 25%;
    
}

img {
    max-width: 100%;
}

img#funplacetogrow {
    justify-content: center;

}

